body {
    font-family: Arial, sans-serif;
    background-color: #f7f2a5;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: rgb(223, 123, 123);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#addTaskBtn {
    background-color: #283da7;
    color: white;
}

.complete-btn {
    background-color: #07b937;
    color: white;
    margin-left: 10px;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    margin-left: 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: rgb(13, 2, 2);
}